h1, h2, h3, h4, h5, p{margin: 0; padding: 0;}

h2{color: white;}

body{overflow-y:hidden;}

.intro{border:1px solid black; position:absolute; top:45%; left:39%; border-radius:5px; background-color:rgba(0, 0, 0, 0.5); padding: 0 50px 10px 50px!important;}

.precisionControl{font-size:14px;color:white;}

#clickMe{display: none;}

#mPlace{position: absolute; top:20px;}

#main #parametres .intro #clickMe, #main #parametres .intro .trigger, #main #parametres .intro h2{margin-top:10px;}

canvas{position: fixed; top:-50px; left:20px;transition:0.3s;}
.testScroll{position: absolute; top:20px;}
.testScroll1{margin-left: 50px;background-color: aqua;}
.testScroll2{margin-left: 1990px;background-color: blue;}
.testScroll3{margin-left: 4000px;background-color: red;}
.testScroll4{margin-left: 6000px;background-color: yellow;}
.testScroll5{margin-left: 8000px;background-color: green;}
.testScroll6{margin-left: 10000px;background-color: pink;}

#menu-navigation{position: fixed; bottom:0px; left:40%; width:80%; display: none;}

#menu-navigation button{display: inline-block;}

#acceuil{background-color: rgba(0,0,0,0.5);width: 180px%!important;}

#affichage{margin:auto;}

.hiding{display:none;}